/*.panel_background{
	background: #ff8000; For browsers that do not support gradients
    background: -webkit-linear-gradient(#ff8000, white); For Safari 5.1 to 6.0
    background: -o-linear-gradient(#ff8000, white); For Opera 11.1 to 12.0
    background: -moz-linear-gradient(#ff8000, white); For Firefox 3.6 to 15
    background: linear-gradient(#ff8000, white); Standard syntax (must be last)
}*/

 
/*thead, tbody, tr, td, th { display: block; }*/

/*tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;

    /*text-align: left;*/
}*/

/*tbody {
    overflow-y: auto;
}*/

/*thead {
    /* fallback */
}*/


/*tbody td, thead th {
    float: left;
}*/