<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	
	<!-- bind your messages.properties -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="classpath:messages"/>
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
	<!-- <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="validationMessageSource" ref="messageSource" />
	</bean> -->
	
	<!-- <bean id="bCryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/> -->

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		 <property name="locations">
	        <list>
	            <value>classpath:database.properties</value>
	        </list>
	    </property>
	</bean>
	
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
	    <property name="dataSource" ref="dataSource"/>
	</bean>
	
	
	
	<!-- Services -->
	<bean id="loginService" class="com.gts.expersoft.services.LoginServiceImpl">
		<property name="userRepository" ref="userRepository"/>
	</bean>
	
	<bean id="profileService" class="com.gts.expersoft.services.ProfileServiceImpl">
		<property name="profileRepository" ref="profileRepository"/>
	</bean>
	
	<bean id="produitService" class="com.gts.expersoft.services.ProduitServiceImpl">
		<property name="produitRepository" ref="produitRepository"/>
	</bean>
	
	<bean id="varieteService" class="com.gts.expersoft.services.VarieteServiceImpl">
		<property name="varieteRepository" ref="varieteRepository"/>
	</bean>
	
	<bean id="zoneService" class="com.gts.expersoft.services.ZoneServiceImpl">
		<property name="zoneRepository" ref="zoneRepository"/>
	</bean>
	
	<bean id="regionService" class="com.gts.expersoft.services.RegionServiceImpl">
		<property name="regionRepository" ref="regionRepository"/>
	</bean>
	
	<bean id="producteurService" class="com.gts.expersoft.services.ProducteurServiceImpl">
		<property name="producteurRepository" ref="producteurRepository"/>
	</bean>
	
	<bean id="stationService" class="com.gts.expersoft.services.StationServiceImpl">
		<property name="stationRepository" ref="stationRepository"/>
	</bean>
	
	<bean id="transpService" class="com.gts.expersoft.services.TranspServiceImpl">
		<property name="transpRepository" ref="transpRepository"/>
	</bean>
	
	<bean id="personnelService" class="com.gts.expersoft.services.PersonnelServiceImpl">
		<property name="personnelRepository" ref="personnelRepository"/>
	</bean>
	
	<bean id="equipeService" class="com.gts.expersoft.services.EquipeServiceImpl">
		<property name="equipeRepository" ref="equipeRepository"/>
	</bean>
	
	<bean id="fournService" class="com.gts.expersoft.services.FournServiceImpl">
		<property name="fournRepository" ref="fournRepository"/>
	</bean>
	
	<bean id="marqueService" class="com.gts.expersoft.services.MarqueServiceImpl">
		<property name="marqueRepository" ref="marqueRepository"/>
	</bean>
	
	<!-- Repository -->

	<bean id="userRepository" class="com.gts.expersoft.repositories.UserRepositoryImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	
	<bean id="profileRepository" class="com.gts.expersoft.repositories.ProfileRepositoryImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>


	<bean id="produitRepository" class="com.gts.expersoft.repositories.ProduitRepositoryImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	
	<bean id="varieteRepository" class="com.gts.expersoft.repositories.VarieteRepositoryImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	
	<bean id="zoneRepository" class="com.gts.expersoft.repositories.ZoneRepositoryImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	
	<bean id="regionRepository" class="com.gts.expersoft.repositories.RegionRepositoryImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	
	<bean id="producteurRepository" class="com.gts.expersoft.repositories.ProducteurRepositoryImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	
	<bean id="stationRepository" class="com.gts.expersoft.repositories.StationRepositoryImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	
	<bean id="transpRepository" class="com.gts.expersoft.repositories.TranspRepositoryImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	
	<bean id="personnelRepository" class="com.gts.expersoft.repositories.PersonnelRepositoryImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	
	<bean id="equipeRepository" class="com.gts.expersoft.repositories.EquipeRepositoryImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	
	<bean id="fournRepository" class="com.gts.expersoft.repositories.FournRepositoryImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	
	<bean id="marqueRepository" class="com.gts.expersoft.repositories.MarqueRepositoryImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	
</beans>
